<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>About Me</h1>
    <img src="/static/images/PointPark.jpg">
    <ul>
        <li>Name: Joe Mitchell</li>
        <li>Age: 28</li>
        <li>School: Point Park University</li>
        <li>Major: Computer Science</li>
        <li>Grade: Senior</li>
    </ul>
</body>
</html>